@model List<string>
@{
    ViewBag.Title = "Main";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Forecast", "Home"))
            {
                @Html.Label("Select city from list:")
                @Html.DropDownList("city", new SelectList(Model), new { @class = "form-control" })
                <input type="submit" name="button" value="Show forecast" class="btn btn-default" />
            }

            <h4>or</h4>

            @using (Html.BeginForm("Forecast", "Home"))
            {
                @Html.Label("Enter city name:")
                @Html.TextBox("city", "", new { @class = "form-control" })
                <input type="submit" name="button" value="Show forecast" class="btn btn-default" />
            }
        </div>
    </div>
</div>